<p class="mt-3"> Simple  Todo App </p>
<ul>
    <li>Back end : Express</li>
    <li>Front : handlebars templates </li>
   <li>Theme Bootswatch : Jornal  </li>
   <li>Data Base : MongoDb</li>
</ul>
<p>Tools :</p>
<ul>
    <li>Vscode</li>
    <li>MongoShell</li>
</ul>